@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

@keyframes cloud {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: linear;
  }
  50% {
    transform: none;
    animation-timing-function: linear;
  }
}

@layer base {
  .title {
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
      2px 2px 0 black, 6px 6px 0 black;
  }
  .subtitle {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black, 2px 2px 0 black;
  }
  .small-shadow {
    filter: drop-shadow(4px 4px 0 black);
  }
  .big-shadow {
    filter: drop-shadow(8px 8px 0 black);
  }
  .animate-cloud {
    animation: cloud 3s infinite;
  }
  .animate-cloud-2 {
    animation: cloud 3.5s infinite;
  }
}
